
@font-face {
  font-family: 'monst-l';
  src:  url('lib/montserrat/Montserrat-Light.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-m';
  src:  url('lib/montserrat/Montserrat-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-mi';
  src:  url('lib/montserrat/Montserrat-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-thin';
  src:  url('lib/montserrat/Montserrat-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-ti';
  src:  url('lib/montserrat/Montserrat-ThinItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

}
html,body{
  /*background-color: #ffa8ff;*/
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  font-size: 12px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor:none;
  overflow:auto;
  width: 100vw;
  position: relative;
}
.kozlent {
  display:inline;
  font-size: 0.8em;
  position: fixed;
  top: 1vh;
  right: 1vw;
  /*padding: auto;*/
  justify-content:center;
  /*align-items:flex-end;*/
  margin-right: auto;
  margin-left: auto;
  /*bottom: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*height: 3vh;*/
  z-index: 0;
}
.kozlent:hover{
  color:blue;
  font-size: 1em;
}
.anna:hover{
  color: red;
}
.anna:visited{
  color: orange;

}
p{
 /* cursor : none;
  user-select: none;*/
  word-wrap: auto;
/*  letter-spacing: 1.5px;
  text-align: justify;
  text-justify: inter-word;*/
  /*float: right;*/

}
#tex:hover {
  color: red;

}

.item{
/*  position: fixed;
  bottom: 0px;*/
/*  vertical-align: text-bottom;
 float: bottom;*/

}

.stilo{
	/*padding-left: 2vw;*/
  /*display: grid | inline-grid;*/
}

.benso{
	width: 60vw;
  height: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.benso:hover{
	box-shadow: 20px 20px 20px grey;
	width:60vw;
	/*padding: 20vw;*/

}

.bensoszel{
  width:50vw;
}

.bensoszel:hover{
  animation: bensoszel 6s;

}


  @keyframes bensoszel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        100% {
          transform:scale(1.5);
          z-index: 6;
         /*width:50vw;*/
        }
      }

.hossz{
	height:50vh;
	width:auto;

}

.hossz:hover{
	height:60vh;
	width:auto;
}

.cim{
  /*color: blue;*/
  /*text-shadow: 2px 2px orange;*/
  /*padding-right: 1vw;*/

  font-size: 14px;
}
.cim:hover{
  color: white;


}


.slakk{
	/*display: inline-grid;*/
  /*display: inline-flex;*/
 /*overflow-x: auto;*/
 /*display:block;*/

    /*margin:auto;*/
	padding-left: 2vw;


}



.vizsz{
  /*display: grid;*/
  display: block;
  /*overflow-y:hidden;*/

       
 -webkit-column-count: 1;
 -webkit-column-gap:   0;
 -moz-column-count:    1;
 -moz-column-gap:      0;
 column-count:         1;
 column-gap:           0;  

}

.head{
/*  font-family: 'spectral-lit';*/
  font-family: 'monst-thin';

  padding-left: 2vw;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}


.tart {
  width: 60vw;
  padding-left: 20vw;
  display: inline-grid;
  word-wrap: auto;

  /*height:60vh;*/
  /*width:auto;*/
  /*position: sticky;*/
  /*text-align:bottom;*/
  /*white-space: nowrap;*/
  /*overflow-y:hidden;*/

}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

canvas{
	
    position: fixed;
    top: 0; 
    z-index: -2;
	/*z-index: -1;*/

}

img{
  z-index: 2;
}


@media only screen and (max-width: 600px) {
    html, body{
      height: 600vh;
      overflow: auto;
    }
     .benso{
  		width:90vw;
  		/*height:auto;*/
      }
      .bensoszel{
      	width:80vw;
      }
      .bensoszel:hover{
        animation: none;

      }
      .hossz{
      	height:50vh;
      	width:auto;
      }
     
      .vizsz{
        /*display: grid;*/
        display: block;
        /*overflow-y:hidden;*/

             
       -webkit-column-count: 1;
       -webkit-column-gap:   0;
       -moz-column-count:    1;
       -moz-column-gap:      0;
       column-count:         1;
       column-gap:           0;  

      }
      p{
      /*overflow-wrap: anywhere;*/
      word-wrap: auto;
      /*font-size: 8px;*/


      }
      .tart {
      width: 80vw;
      padding-left: 1vw;
      display: inline-grid;
      /*word-wrap: break-word;*/
      word-wrap: auto;

      /*height:60vh;*/
      /*width:auto;*/
      /*position: sticky;*/
      /*text-align:bottom;*/
      /*white-space: nowrap;*/
      /*overflow-y:hidden;*/

      }

    }

@media only screen and (max-width: 414px)and (orientation : portrait) {
  html, body{
      height: auto;
      overflow: auto;

    }
.bensoszel:hover{
  animation: none;

}
.hossz:hover{
  height:50vh;
  width:auto;
}
}